<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.jevon.mapper.RecordMapper">
    <!-- 查询该用户所有流水信息 -->
    <select id="getRecord" resultType="fun.jevon.entity.responsemapping.RecordResponse">
        select id,
               name,
               detail,
               amount,
               time
        from transaction_records
        where uid = #{uid}
            <if test="month != null">
                and MONTH(time) = #{month}
            </if>
            <if test="year != null">
                and YEAR(time) = #{year}
            </if>
        order by time desc
    </select>
</mapper>
